<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		
	
	<h2 style="text-align:center">
		Edit comment page: 
	</h2>
		<div style="width: 30%; margin: 25px auto">
			<form action="/campgrounds/<%= campground_id%>/comments/<%= comment._id%>?_method=PUT" method="post">
				<div class="form-group">
					<label for="fname"><span class="glyphicon glyphicon-pencil"></span></label>
					<input class="form-control" id="fname" type="text" name="comment[text]"  value="<%= comment.text%>" required>
				</div>
				<!-- <div class="form-group">
					<label  for="img">Name:</label>
					<input class= "form-control" id="img" type="text" placeholder="author" name="comment[author]" required >
				</div> -->
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">
						Update
					</button>
				</div>
			</form>
			<a href="/campgrounds/<%=campground_id%>">GO BACK</a>
		</div>
		
	</div>
</div>

<%- include("../partials/footer") %>