<%- include("../partials/header") %>


<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">
				YelpCamp
			</p>
			<div class="list-group">
				<li class="list-group-item active">Info-1</li>
				<li class="list-group-item">Info-2</li>
				<li class="list-group-item">Info-3</li>

			</div>
			
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="image-responsive" src="<%= campground.image %>" style="width:400,height:300">
				<div class="caption-full">
					<h4 class="pull-right"><%= campground.price%>$/night</h4>
				    <h4><a><%= campground.name %></a></h4>
					<p><%- campground.description %></p>
					<p><em>Created by:<a href="/user/<%= campground.author.id%>"> <%= campground.author.username%></a> , <%= moment(campground.createdAt).fromNow()%></em></p>
					<% if( currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
					
					<a class="btn btn-xs btn-info" href="/campgrounds/<%= campground._id%>/edit">Edit <span class="glyphicon glyphicon-pencil"></span></a>
					<form id="deletebtn" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="post">
						<button id="deletebtn" class="btn btn-xs btn-info" >
							Delete <span class="glyphicon glyphicon-trash"></span>
						</button>
					</form>
					<% }%>
					
				</div>
			</div>
			<div class="well">
				<div class="text-right"><a class="btn btn-success pull-right" href="/campgrounds/<%=campground._id %>/comments/new">Add new                      comment  <span class="glyphicon glyphicon-plus"></span></a>
				</div>
				<hr>
				<h3><a  href="/campgrounds/<%=campground._id %>/comments/new"><strong>Comments:</strong></a></h3>

				<% campground.comments.forEach(function(comment){ %>
				<div class="row">
					<div class="col-md-12">
						<strong><%= comment.author.username%> : </strong>
						<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
						<p><%= comment.text%></p>
						<% if( currentUser && comment.author.id.equals(currentUser._id)  || currentUser && currentUser.isAdmin){%>
							<a class="btn btn-xs btn-success"
							href="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>/edit">edit</a>
							<!-- delete -->
							<form  id="commentbtn"action="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>?_method=DELETE"    								method="post">
								<button id="commentbtn" class="btn btn-xs btn-danger" >
									Delete <span class="glyphicon glyphicon-trash"></span>
								</button>
						    </form>
						<% } %>
					</div>
				</div>
				<hr>
				<%})%>
	
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>